@font-face {
    font-family: "Inika";
    src: url(./assets/fonts/Inika-Regular.ttf);
}

@font-face {
    font-family: "Inter";
    src: url(./assets/fonts/Inter-Regular.ttf);
}

body {
    width: 90%;
    height: 100vh;
    margin: 5% auto;
    cursor: pointer;
}

.title {
    width: 100%;
    border-bottom: 5px double black;
    font-family: "Inika";
    margin: 0;

    display: flex;
    align-items: center;
    font-size: 2rem;
    font-style: italic;
}


.memes {
    width: 100%;
    color: blue;
}

.meme {
    width: 100%;
    border-bottom: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Inter";
    font-size: 1.5rem;
    font-weight: 800;
    transition: 1s;
}

.meme-info {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.meme-img {
    width: 10px;
    height: 10px;
    transition: 0.7s;
    margin-top: 1%;
    margin-bottom: 1%;
    visibility: hidden;
}

.memes:hover .cross{
        visibility: visible;
        margin-top: 1%;
}

.meme:hover {
    color: black;
}

.last-meme {
    border-bottom: none;
}

.cross {
    width: 24px;
    height: 24px;
    margin-right: 1%;
    margin-top: 1%;
    transition: 0.5s;
    visibility: hidden;
}

.cross-first {
    width: 24px;
    height: 24px;
    margin-right: 1%;
    margin-top: 1%;
    transition: 0.5s;
    transform: rotate(45deg);
    visibility: hidden;
}

.meme-img-first {
    width: 350px;
    height: 250px;
    transition: 0.7s;
    margin-top: 1%;
    margin-bottom: 1%;
}


.meme:hover .meme-img{
    visibility: visible;
    width: 350px;
    height: 250px;
}

.meme:hover .cross{
    visibility: visible;
    transform: rotate(45deg);
}

.memes:hover .cross-first{
    visibility: visible;
}


.memes:hover {
    color: black;
}

.meme:hover .cross-select{
    display: block;
    margin-top: 1%;
}


@media (max-width: 980px){
   .meme {
        font-size: 1.2rem;
}

   .meme:hover .meme-img{
        visibility: visible;
        width: 250px;
        height: 150px;
}
    .meme-img-first {
        width: 250px;
        height: 150px;
}

    .title {
        font-size: 1.8rem;
        
}
}

@media (max-width: 360px){
    .meme {
     font-size: 1rem;
    }

    .meme:hover .meme-img{
        visibility: visible;
        width: 150px;
        height: 90px;
}
    .meme-img-first {
        width: 150px;
        height: 90px;
}

    .title {
        font-size: 1.6rem;
    
}
 }

